<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://certcpv2024.ine.gob.bo/assets/img/favicon/favicon.ico"
      type="image/png"
    />
    <title>CERTIFICACIÓN CENSO Bolivia 2024</title>
  </head>
  <body>
    <div class="menu-slide" id="menuSlide">
      <a href="https://certcpv2024.ine.gob.bo/" class="tag_side">Inicio</a>
      <a href="#" class="closebtn"><i class="tf-icons mdi mdi-close"></i></a>
    </div>
    <div class="backdrop" id="backdrop"></div>
    <header>
      <nav>
        <div class="logo">
          <button class="btn-menu">
            <i
              class="tf-icons mdi mdi-menu mdi-24px align-middle hamburger"
            ></i>
          </button>
          <a href="https://certcpv2024.ine.gob.bo/">
            <img
              src="https://certcpv2024.ine.gob.bo/assets/img/branding/censo-bolivia-2024-light.png"
              alt="image not found"
              class="img_logo"
            />
          </a>
          <a href="https://certcpv2024.ine.gob.bo/" class="title"
            >CERTIFICACIÓN</a
          >
          <a href="https://certcpv2024.ine.gob.bo/" class="tag">Inicio</a>
        </div>
      </nav>
    </header>
    <section class="mt-5">
      <div class="cabecera_censo">
        <h1 class="text-cabecera">
          VERIFICACIÓN DE LA CERTIFICACIÓN DEL CENSO 2024
        </h1>
      </div>

      <%if(prd){%>
      <div class="codigo">
        Código: <span class="cdg"><%= prd.code %></span> <br />
        Verifique que el Certificado tenga impresa la información mostrada en
        este formulario
      </div>
      <%}%>
    </section>

    <% if(prd){%>
    <section>
      <div class="formulario">
        <div class="fieldset">
          <div class="legend">
            <h3 class="cabecera_legend">
              EL CERTIFICADO IMPRESO CON ESTE CÓDIGO QR CORRESPONDE A:
            </h3>
          </div>
          <form action="">
            <div class="form-group">
              <label for="" class="lbl_icon"
                ><i class="mdi mdi-card-account-details"></i>Documento de
                Identidad <i class="mdi mdi-information-outline icon-fill"></i
              ></label>
              <div class="form-input name">
                <label for="#" class="lbl_no_icon">Cédula de Identidad:</label
                ><br />
                <div class="form-control"><%= prd.dni %></div>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="lbl_icon"
                ><i class="mdi mdi-account"></i>Datos Personales
                <i class="mdi mdi-information-outline icon-fill"></i
              ></label>
              <div class="form-input d-flex-row">
                <div class="row">
                  <label for="#" class="lbl_no_icon">Primer Apellido:</label
                  ><br />
                  <div class="form-control"><%= prd.paterno %></div>
                </div>
                <div class="row">
                  <label for="#" class="lbl_no_icon">Segundo Apellido:</label
                  ><br />
                  <div class="form-control"><%= prd.materno %></div>
                </div>
              </div>
              <div class="name">
                <label for="#" class="lbl_no_icon">Nombres:</label><br />
                <div class="form-control"><%= prd.nombre %></div>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="lbl_icon"
                ><i class="mdi mdi-certificate-outline"></i>Certificaciones
                <i class="mdi mdi-information-outline icon-fill"></i
              ></label>
            </div>
          </form>
          <div class="card-content">
            <span class="text-primary title-card-content">Capacitación:</span>
            <div class="text-primary">
              <i class="mdi mdi-check-circle"></i>Cuenta con un registro de
              <span class="subtitle">
                Certificación de Capacitación de Agente Censal.
              </span>
            </div>
          </div>
          <hr style="border-color: #cfcfcf25" />
          <div class="card-content">
            <span class="text-primary title-card-content">Participación:</span>
            <div class="text-primary">
              <i class="mdi mdi-check-circle"></i>Cuenta con un registro de
              <span class="subtitle">
                Certificación de Participación del Censo, como Agente Censal
              </span>
            </div>
          </div>
          <hr style="border-color: #cfcfcf25" />

          <div class="card-content-footer">
            <span class="text-success"
              ><i class="mdi mdi-information"></i> Es muy importante</span
            >
            que verifique que el certificado impreso corresponde a
            <span class="text-success"
              ><%= prd.nombre + " " + prd.paterno + " " + prd.materno %></span
            >, con el C.I.: <span class="text-success"><%= prd.dni %></span>, y
            que contenga el código <span class="text-success"></span> en la URL
            de verificación.
          </div>
          <div class="btn-group">
            <a href="https://certcpv2024.ine.gob.bo/" class="btn-danger"
              ><i class="mdi mdi-home icon"></i> Ir al Inicio de las
              Certificaciones</a
            >
            <a
              href="https://www.ine.gob.bo/index.php/oficinas-departamentales/"
              class="btn-primary"
              ><i class="mdi mdi-office-building icon"></i> Ver Oficinas
              Departamentales</a
            >
          </div>
        </div>
      </div>
    </section>
    <%}%> <% if(!prd){%>
    <section class="not-found">
      <div class="content-red">VERIFICACIÓN INCORRECTA</div>
      <div class="container-red">
        <span class="text-danger-not"
          >!El código no corresponde a un Voluntario registrado.</span
        >
        Puede verificar si se está enviando el código correcto, o consultar con
        la Oficina Departamental correspondiente.
      </div>
      <div class="context">
        <a href="https://certcpv2024.ine.gob.bo/" class="btn-danger"
          ><i class="mdi mdi-home icon"></i> Ir al Inicio de las
          Certificaciones</a
        >
        <a
          href="https://www.ine.gob.bo/index.php/oficinas-departamentales/"
          class="btn-primary"
          ><i class="mdi mdi-office-building icon"></i> Ver Oficinas
          Departamentales</a
        >
      </div>
    </section>
    <%}%>

    <section class="container-fluid content_footer">
      <i class="mdi mdi-card-account-phone"></i> Si presenta problemas o tiene
      dudas con la certificación, puede comunicarse con la
      <a
        href="https://www.ine.gob.bo/index.php/oficinas-departamentales/"
        class="link_office"
        target="_blank"
        ><i class="mdi mdi-office-building icon-link"></i> Oficina
        Departamental</a
      >
      correspondiente a su departamento, o escribir al correo electrónico
      <a
        href="mailto:certificadoscpv@ine.gob.bo"
        target="_blank"
        class="email-link"
        ><i class="mdi mdi-email-check"></i> certificadoscpv@ine.gob.bo</a
      >
    </section>
    <script src="/js/index.js"></script>
  </body>
</html>
